<%= form_for(@declarante) do |f| %>
  <% if @declarante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@declarante.errors.count, "error") %> prohibited this declarante from being saved:</h2>

      <ul>
      <% @declarante.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :naturalidade %><br>
    <%= f.text_field :naturalidade %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :telefone %><br>
    <%= f.text_field :telefone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
