<h1>Listing declarantes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Naturalidade</th>
      <th>Email</th>
      <th>Telefone</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @declarantes.each do |declarante| %>
      <tr>
        <td><%= declarante.nome %></td>
        <td><%= declarante.naturalidade %></td>
        <td><%= declarante.email %></td>
        <td><%= declarante.telefone %></td>
        <td><%= link_to 'Show', declarante %></td>
        <td><%= link_to 'Edit', edit_declarante_path(declarante) %></td>
        <td><%= link_to 'Destroy', declarante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Declarante', new_declarante_path %>
