<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @declarante.nome %>
</p>

<p>
  <strong>Naturalidade:</strong>
  <%= @declarante.naturalidade %>
</p>

<p>
  <strong>Email:</strong>
  <%= @declarante.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @declarante.telefone %>
</p>

<%= link_to 'Edit', edit_declarante_path(@declarante) %> |
<%= link_to 'Back', declarantes_path %>
