<h1>Listing ocorrencia</h1>

<table>
  <thead>
    <tr>
      <th>Data ocorrencia</th>
      <th>Declarante</th>
      <th>Endereco</th>
      <th>Detalhes</th>
      <th>Tipo</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ocorrencia.each do |ocorrencium| %>
      <tr>
        <td><%= ocorrencium.data_ocorrencia %></td>
        <td><%= ocorrencium.declarante %></td>
        <td><%= ocorrencium.endereco %></td>
        <td><%= ocorrencium.detalhes %></td>
        <td><%= ocorrencium.tipo %></td>
        <td><%= link_to 'Show', ocorrencium %></td>
        <td><%= link_to 'Edit', edit_ocorrencium_path(ocorrencium) %></td>
        <td><%= link_to 'Destroy', ocorrencium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ocorrencia', new_ocorrencium_path %>
