<p id="notice"><%= notice %></p>

<p>
  <strong>Data ocorrencia:</strong>
  <%= @ocorrencium.data_ocorrencia %>
</p>

<p>
  <strong>Declarante:</strong>
  <%= @ocorrencium.declarante %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @ocorrencium.endereco %>
</p>

<p>
  <strong>Detalhes:</strong>
  <%= @ocorrencium.detalhes %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @ocorrencium.tipo %>
</p>

<%= link_to 'Edit', edit_ocorrencium_path(@ocorrencium) %> |
<%= link_to 'Back', ocorrencia_index_path %>
