<h1>Nova Ocorrência</h1>
<%= form_for :ocorrencia, url: ocorrencias_path do |f| %>
	<p>
		<%= f.label :tipo %><br/>
		<%= f.text_field :tipo %><br/>
	</p>

	<p>
		<%= f.label :data_ocorrencia %><br/>
		<%= f.text_field :data_ocorrencia %><br/>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>